@import "tailwindcss";

@plugin '@tailwindcss/typography';

@theme {
    --font-geist: Geist, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
      border-color: var(--color-gray-200, currentColor);
    }
}
  
@font-face {
    font-family: "Geist";
    src: url("/fonts/Geist.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}